.sg-layout {
  display: flex;
  flex: 1;
}

.sg-layout__main {
  display: flex;
  justify-content: center;
  background: var(--color-light-0);
  color: var(--color-dark-0);
  flex: 1;
  padding: 1.5rem;
}

.sg-layout__header,
.sg-layout__body {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@media (--medium-viewport) {
  .sg-layout__header,
  .sg-layout__body {
    width: calc(var(--medium-size) - var(--sidebar-size));
  }

  .sg-layout__main {
    padding: 1.5rem 0;
  }
}

@media (--large-viewport) {
  .sg-layout__header,
  .sg-layout__body {
    width: calc(var(--large-size) - var(--sidebar-size));
  }
}