@import '../../pattern-library/base';
@import 'vars';
@import 'layout';
@import 'example';

:root {
  font-size: 16px;
}

html {
  height: 100%;
}

body,
.sg-app__container {
  display: flex;
  min-height: 100vh;
  flex: 1 1 auto;
}
