@import 'components/base.scss';

:root {
  font-size: 16px;
}

html {
  height: 100%;
}

body,
.sg-app__container {
  display: flex;
  min-height: 100vh;
  flex: 1 1 auto;
}

.sg-layout {
  display: flex;
  flex: 1;
}

.sg-layout__main {
  display: flex;
  justify-content: center;
  background: $color-white;
  color: #73879C;
  flex: 1;
  padding: 1.5rem 0;
}

.sg-layout__header,
.sg-layout__body {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 48rem) {
  .sg-layout__header,
  .sg-layout__body {
    width: 33rem;
  }
}

@media (min-width: 62rem) {
  .sg-layout__header,
  .sg-layout__body {
    width: 47rem;
  }
}

.sg-example__box-item {
  width: 100%;
  background-color: $color-light;
  padding: .5rem;
  text-align: center;
  border: 1px solid $color-light-1;
}