@import '~normalize.css/normalize.css';
@import 'vars';
@import 'foundations/typography/vars';
@import 'foundations/typography/link';
@import 'foundations/colors/vars';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: $font-family-body;
  font-size: $font-size-body;
  font-weight: $font-weight-body;
  line-height: $line-height-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text;
  background-color: $color-bg;
}